@{
    ViewBag.Title = "Home Page";
}

<div class="container jumbotron">
    <div class="col-md-6">
        <img src="~/FileUploads/scorpion4.png" />
    </div>
    <div class="col-md-5">
        <h1>SCORPION BUGTRACKER</h1>
        <p class="lead" style="padding-bottom: 20px">Software that helps you and your business stay atop with its concerns.</p>
        <div class="col-md-5">
            <center><p><b>Try it as a: </b></p></center>
        </div>
        <div class="col-md-5">
            <div class="btn-group-vertical">
                @Html.ActionLink("Submitter", "TestSubmitterLogin", "Account", null, new { @class = "btn btn-info btn-lg" })
                @Html.ActionLink("Developer", "TestDeveloperLogin", "Account", null, new { @class = "btn btn-warning btn-lg" })
                @Html.ActionLink("Project Manager", "TestProjectManagerLogin", "Account", null, new { @class = "btn btn-danger btn-lg" })
                @Html.ActionLink("Administrator", "TestAdminLogin", "Account", null, new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
</div>